.border {
  border: 8px solid #398562 !important;
}

body.dark-mode .border {
  border: 8px solid #303b49 !important;
}

.muc {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7) !important;
}

.form-row-thx {
	padding: 80px 0 100px 0;
	border:solid #00F 0px;
}

.i-mail:after, .i-mail .mail-anim:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 15px;
  height: 4px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.i-mail:before, .i-mail .mail-anim:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
  height: 6px;
  background: black;
}

.i-success:after, .i-success .success-anim:after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 11px;
  width: 15px;
  height: 8px;
  border-bottom: 2px solid #54B689;
  border-left: 2px solid #54B689;
  transform: rotate(-45deg);
}

.cntnr {
  top: 50%;
  left: calc(50% - 240px);
  max-width: 540px;
  margin: auto;
}



.anmtn {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-mail, .i-mail .mail-anim {
  width: 40px;
  height: 30px;
  border-radius: 5% 5%;
  border: 2px solid black;
  position: relative;
  animation: transformS 0.3s linear;
}
@keyframes transformS {
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
}
.i-mail .mail-anim {
  margin: -2px 0 0 -2px;
  animation: moveL 0.8s linear;
}
@keyframes moveL {
  100% {
    transform: translateX(220px) rotateY(90deg);
  }
}

.lne {
  padding: 1px 210px;
  background-image: linear-gradient(to right, #000 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 15px 2px;
  background-repeat: repeat-x;
}

@media all and (max-width: 580px) {
	.lne {
		padding: 1px 110px;
	}
}

.i-success, .i-success .success-anim {
  width: 40px;
  height: 30px;
  border-radius: 5% 5%;
  border: 2px solid #54B689;
  position: relative;
  animation: transformB 0.3s 1.4s linear forwards;
}
.i-success:after, .i-success .success-anim:after {
  animation: transformBA 0.3s 1.4s linear forwards;
}
@keyframes transformB {
  50% {
    transform: scale(1.5, 1.5);
    background: #54B689;
  }
  100% {
    background: #54B689;
  }
}
@keyframes transformBA {
  100% {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}
.i-success .success-anim {
  margin: -2px 0 0 -2px;
  animation: moveR 0.8s 1s linear;
}
@keyframes moveR {
  0% {
    transform: translateX(-220px) rotateY(90deg);
  }
  50% {
    transform: translateX(0) rotateY(0);
  }
}

.mssg {
  text-align: center;
  margin-top: 10px;
  color: #40976f;
}