.border {
  border: 8px solid #398562 !important;
}

body.dark-mode .border {
  border: 8px solid #303b49 !important;
}

.shadow-lg {
    box-shadow: 0 0rem 1rem rgb(0 0 0 / 50%) !important;
}

.muc {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7) !important;
}

.form-row-thx {
	padding: 80px 0 100px 0;
	border:solid #00F 0px;
}

.i-mail:after, .i-mail .mail-anim:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 15px;
  height: 4px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.i-mail:before, .i-mail .mail-anim:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
  height: 6px;
  background: black;
}

.i-success:after, .i-success .success-anim:after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 11px;
  width: 15px;
  height: 8px;
  border-bottom: 2px solid #54B689;
  border-left: 2px solid #54B689;
  transform: rotate(-45deg);
}

.cntnr {
  top: 50%;
  left: calc(50% - 240px);
  max-width: 540px;
  margin: auto;
}



.anmtn {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-mail, .i-mail .mail-anim {
  width: 40px;
  height: 30px;
  border-radius: 5% 5%;
  border: 2px solid black;
  position: relative;
  animation: transformS 0.3s linear;
}
@keyframes transformS {
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
}
.i-mail .mail-anim {
  margin: -2px 0 0 -2px;
  animation: moveL 0.8s linear;
}
@keyframes moveL {
  100% {
    transform: translateX(220px) rotateY(90deg);
  }
}

.lne {
  padding: 1px 210px;
  background-image: linear-gradient(to right, #000 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 15px 2px;
  background-repeat: repeat-x;
}

@media all and (max-width: 580px) {
	.lne {
		padding: 1px 110px;
	}
}

.i-success, .i-success .success-anim {
  width: 40px;
  height: 30px;
  border-radius: 5% 5%;
  border: 2px solid #54B689;
  position: relative;
  animation: transformB 0.3s 1.4s linear forwards;
}
.i-success:after, .i-success .success-anim:after {
  animation: transformBA 0.3s 1.4s linear forwards;
}
@keyframes transformB {
  50% {
    transform: scale(1.5, 1.5);
    background: #54B689;
  }
  100% {
    background: #54B689;
  }
}
@keyframes transformBA {
  100% {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}
.i-success .success-anim {
  margin: -2px 0 0 -2px;
  animation: moveR 0.8s 1s linear;
}
@keyframes moveR {
  0% {
    transform: translateX(-220px) rotateY(90deg);
  }
  50% {
    transform: translateX(0) rotateY(0);
  }
}

.mssg {
  text-align: center;
  margin-top: 10px;
  color: #40976f;
}

/* Custom Fonts Start */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7qjdc8');
  src:  url('../fonts/icomoon.eot?7qjdc8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7qjdc8') format('truetype'),
    url('../fonts/icomoon.woff?7qjdc8') format('woff'),
    url('../fonts/icomoon.svg?7qjdc8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-list a:hover {
    text-decoration: none;
}

body.dark-mode .social-list a {
	color: #fff;
}

.icon-mysql_icon .path1:before {
  content: "\e900";
  color: rgb(0, 117, 143);
}
.icon-mysql_icon .path2:before {
  content: "\e901";
  margin-left: -1.4423828125em;
  color: rgb(242, 145, 17);
}
.icon-mysql_icon .path3:before {
  content: "\e902";
  margin-left: -1.4423828125em;
  color: rgb(242, 145, 17);
}
.icon-mysql_icon .path4:before {
  content: "\e903";
  margin-left: -1.4423828125em;
  color: rgb(0, 117, 143);
}
.icon-git_icon:before {
  content: "\e904";
}
.icon-powershell_icon:before {
  content: "\e905";
}
.icon-codesandbox_icon:before {
  content: "\e906";
  vertical-align: -0.0667em;
}
.icon-bash_icon:before {
  content: "\e907";
}
.icon-api_icon:before {
  content: "\e908";
}
.icon-vscode_icon:before {
  content: "\e909";
  color: #007acc;
}

/* Custom Fonts End */
/* Custom Fonts Colors */
.overview-section .item-icon .icon-git_icon {
    color: #F1502F;
}
.overview-section .item-icon .icon-bash_icon {
    color: #999;
}
.overview-section .item-icon .icon-api_icon {
    color: #53678c;
}
/* Custom Fonts /Colors */

/*Books*/
.bookshelf{font-size:0.875em;display:grid;grid-gap:1.5em;grid-template-columns:1fr;}
.bookshelf article{display:grid;grid-template-columns:80px 1fr;grid-gap:1em !important;background-color: none; width: 160px;border-bottom:solid transparent 20px;}
.bookshelf article img{max-width:100% !important;display:block;object-fit:contain !important;object-position: bottom;}
.bookshelf section {background-color: transparent;}
.bookshelf section h3{margin:5px 0;font-size: 1rem;line-height: 1;}
.bookshelf section p{margin:0; line-height: 1;background-color: transparent;}

@media (min-width: 42em){
.bookshelf{flex-direction:row;grid-template-columns:repeat(auto-fill, minmax(11.5em, 1fr));}
.bookshelf article{display:block;}
.bookshelf article img{height:270px;margin-bottom:8px;}
}
